#main #current-issue {
    box-sizing: border-box;
    border: 1px solid black;
    padding-left: 5px;
    padding-right: 5px;
}

#main #current-issue div #cover-image {
    height: 300px;
    margin-right: 5px;
}

#main #current-issue div #about-issue p {
    text-align: justify;
    margin-top: 0px;
}

#main #current-issue div #buy-now-button {
    float: left;
    padding: 15px;
    border: 2px solid #E3F2FD;
    border-radius: 10%;
    margin-top: 5px;
    text-align: center;
    transition: .5s ease;
}

#main #current-issue div #buy-now-button:hover {
    background: #42A5F5;
}

@media(min-width: 1200px) {
    /*
    .visible-lg {
            
    }
*/
    #main #story #image {
        position: relative;
        background: url('../img/Shiksha%20%20image%20must.jpg') no-repeat;
        float: left;
        height: 350px;
        width: 60%;
    }
    #main #story #image #textOverImg {
        position: absolute;
        font-family: samarkan;
        top: 10px;
        right: 10px;
        font-size: 1.7em;
        color: white;
    }
}

@media(min-width: 992px) and (max-width: 1199px) {
    #main #story #image {
        position: relative;
        background: url('../img/Shiksha-790px.jpg') no-repeat;
        float: left;
        height: 350px;
        width: 60%;
    }
    #main #story #image #textOverImg {
        position: absolute;
        font-family: samarkan;
        top: 10px;
        right: 10px;
        font-size: 1.7em;
        color: white;
    }
    #main #current-issue div {
/*        clear: both;*/
    }
    #main #current-issue div h2 {
        text-align: center;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    #main #story #image {
        position: relative;
        background: url('../img/Shiksha-sm.jpg') no-repeat;
        float: left;
        height: 350px;
        width: 60%;
    }
}