div.read-img-show {
    height: auto;
    width: 100vw;
}

.img-read-now {
    width: 100vw;
    height: auto;
}

#main {
    position: relative;
}

.img-read-now-2 {
    width: 49vw;
    margin-right: 0;
    margin-left: 0;
    height: auto;
}

#main #story #content {
    padding-top: 10px;
    padding-right: 10px;
    text-align: justify;
    color: #FFF;
    font-size: 1.1em
}

div .feature-image {
    height: 300px;
    margin-right: 5px;
    margin-top: 5px;
}

#main #current-issue,
#main #featuring,
#main #best-of-jam {
    position: relative;
    box-sizing: border-box;
    border: 1px solid black;
    padding-left: 5px;
    padding-right: 5px;
}

#main #current-issue div #cover-image,
div .feature-image {
    height: 300px;
    margin-right: 5px;
    margin-top: 5px;
}

#main #current-issue div #issue h2,
div .feature-head h2 {
    margin: 2px;
    padding-bottom: 2px;
    /*    padding-left: 10px;*/
}

#main #current-issue div #about-issue {
    text-align: justify;
    margin-top: 0px;
    padding-top: 0;
}

div .feature-text {
    text-align: justify;
    margin-top: 0px;
    padding-top: 0;
}

@media(min-width: 1200px) {
    /*
    .visible-lg {
            
    }
*/
    div.btn-blue-glow {
        position: absolute;
        right: 2.1vw;
        bottom: 10px;
    }
    #main #story #image {
        position: relative;
        background: url('../img/Shiksha%20%20image%20must.jpg') no-repeat;
        float: left;
        height: 350px;
        width: 60%;
        margin-right: 10px;
    }
    #main #story #image #textOverImg {
        position: absolute;
        font-family: samarkan;
        top: 10px;
        right: 10px;
        font-size: 1.7em;
        color: white;
    }
}

@media(min-width: 992px) and (max-width: 1199px) {
    #main #story #image {
        position: relative;
        background: url('../img/Shiksha-790px.jpg') no-repeat;
        float: left;
        height: 350px;
        width: 60%;
        margin-right: 10px;
    }
    #main #story #image #textOverImg {
        position: absolute;
        font-family: samarkan;
        top: 10px;
        right: 10px;
        font-size: 1.7em;
        color: white;
    }
    #main #current-issue div h2,
    #main #featuring div h2,
    #main #best-of-jam div h2 {
        text-align: center;
    }
    #main #current-issue div #cover-image,
    div .feature-image {
        margin-top: 10px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    #main #story #image {
        position: relative;
        background: url('../img/Shiksha-sm.jpg') no-repeat;
        float: left;
        height: 350px;
        width: 60%;
        margin-right: 10px;
    }
}