/* 
Basic styles
*/

div.btn-blue-glow {
    float: left;
    padding: 15px;
    border: 2px solid #E3F2FD;
    border-radius: 10px;
    margin-top: 20px;
    text-align: center;
    transition: .5s ease;
}

div.btn-blue-glow:hover {
    background: #42A5F5;
}

.visible-lg,
.visible-md,
.visible-sm,
.visible-xs {
    display: none;
}

@font-face {
    font-family: samarkan;
    src: url('../fonts/SAMAN__.TTF');
}

.pull-left {
    float: left;
}

@media (max-width: 991px) {
    .sm-pull-left {
        float: left;
    }
}

html,
body {
    margin: 0;
    padding: 0;
}


/*
Header
*/

#header {
    background: rgba(255, 255, 255, .9);
    width: 100vw;
    position: fixed;
    top:0;
    left: 0;
    z-index: 2;
/*    clear: both;*/
    min-height: 50px;
/*    background: grey;*/
/*    position: fixed;*/
/*    clear: both;*/
}

#header #logo {
    font-family: 'Indie Flower', cursive;
}

#header #logo h1 {
    margin-left: 30px;
    font-size: 3em;
    margin-bottom: 0;
}

#nav ul {
    list-style: none;
    padding-left: 0;
}

#nav ul a {
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
    /*    font-family: 'uni-sans';*/
    font-family: monospace;
    font-size: 1.2em;
    padding: 0;
}


#nav ul a li {
    box-sizing: border-box;
    padding: 7px;
    padding-right: 50px;
    padding-left: 50px;
    display: inline;
    border-right: 1px solid black;
    margin: 0;
    transition: .1s ease;
}

#nav ul a li:hover {
    border-bottom: 3px solid black;
}


/*
Main
*/

#main {
    margin-top: 150px;
/*    clear: both;*/
}

#main #story {
    margin-bottom: 10px;
}

#main #story #image {
    position: relative;
    background: url('../img/Shiksha%20%20image%20must.jpg') no-repeat;
    float: left;
    height: 350px;
    width: 60%;
}

#main #story #image #textOverImg {
    position: absolute;
    font-family: samarkan;
    top: 10px;
    right: 10px;
    font-size: 1.7em;
    color: white;
}

#main #story #content {
    /*        position: relative;*/
    background: maroon;
    /*Use vibrant for dominant color*/
    width: auto;
    /*        float: left;*/
    height: 350px;
    /*    top: 10px;*/
    /*    right: 50px;*/
}


/*
Footer
*/

#footer {
    margin-top: 20px;
    margin-bottom: 0px;
    background: #AAA;
    height: 100px;
    clear: both;
}

div.footerLinks {
    text-align: right;
    border-right: 1px solid #CCC;
}


/*
Media Queries
*/

@media (min-width: 1200px) {
    .visible-lg {
        display: block;
    }
    .hidden-lg {
        display: none;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    #header #logo h1 {
        font-size: 2.5em;
    }
    .visible-md {
        display: block;
    }
    .hidden-md {
        display: none;
    }
    div.btn-blue-glow {
        margin-top: 5px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .visible-sm {
        display: block;
    }
    .hidden-sm {
        display: none;
    }
    #header #logo h1 {
        margin-top: 3px;
        margin-bottom: 2px;
        padding: 0;
        /*        padding-bottom: 5px;*/
        font-size: 3.3vw;
    }
    #nav ul a li {
        padding: 5px;
        padding-left: 4.1vw;
        padding-right: 4.1vw;
    }
    #main {
        margin-top: 0px;
    }
    /*
        
#nav ul {
    list-style: none;
    padding-left: 0;
}

#nav ul a {
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
    font-family: monospace;
    font-size: 1.2em;
    padding: 0;
}

#nav ul a li {
    box-sizing: border-box;
    padding: 7px;
    padding-right: 50px;
    padding-left: 50px;
    display: inline;
    border-right: 1px solid black;
    margin: 0;
    transition: .1s ease;
}

#nav ul a li:hover {
    border-bottom: 3px solid black;
}
*/
}

@media (max-width: 767px) {
    .visible-xs {
        display: block;
    }
    .hidden-xs {
        display: none;
    }
}